.room {
    fill:white;
    stroke-width:1.5%;
    stroke:#644a4a
  }

  .bedroom {
    fill: #DEB887;

    //background:
    //  linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    //  linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    //background-color:#708090;
    //background-size: 500px 500px
  }

  .livingroom {
    fill: #FFF8DC
  }

  .bathroom {
    fill: #CD853F
  }

  .balcony {
    fill: #cccccc
  }

  .kitchen {
    fill: #BC8F8F
  }

  .outside {
    fill : white
  }